<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExuenetAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ExuenetSNS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ExuenetShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ExuenetToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>exuenetPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>exuenetshare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44BBF4EE1ACD655A001DEC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E3BDA6F1AD50B40005492AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E3BDA861AD50B9F005492AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EAF71F91AD66A6C007016F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EB95C041AD51F6200BD0595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED70BB41A789B1B00884C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED70BCD1A789B1C00884C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
